@font-face {
  font-family: 'Lato-Black';
  src: local('Lato-Black'), url('../fonts/lato/Black/Lato-Black.ttf') format('ttf'), url('../fonts/lato/Black/Lato-Black.woff2') format('woff2'), url('../fonts/lato/Black/Lato-Black.woff') format('woff'), url('../fonts/lato/Black/Lato-Black.eot') format('eot');
}

@font-face {
  font-family: 'Lato-Bold';
  src: local('Lato-Bold'), url('../fonts/lato/Bold/Lato-Bold.ttf') format('ttf'), url('../fonts/lato/Bold/Lato-Bold.woff2') format('woff2'), url('../fonts/lato/Bold/Lato-Bold.woff') format('woff'), url('../fonts/lato/Bold/Lato-Bold.eot') format('eot');
}

@font-face {
  font-family: 'Lato-Light';
  src: local('Lato-Light'), url('../fonts/lato/Light/Lato-Light.ttf') format('ttf'), url('../fonts/lato/Light/Lato-Light.woff2') format('woff2'), url('../fonts/lato/Light/Lato-Light.woff') format('woff'), url('../fonts/lato/Light/Lato-Light.eot') format('eot');
}

@font-face {
  font-family: 'Lato-Regular';
  src: local('Lato-Regular'), url('../fonts/lato/Regular/Lato-Regular.ttf') format('ttf'), url('../fonts/lato/Regular/Lato-Regular.woff2') format('woff2'), url('../fonts/lato/Regular/Lato-Regular.woff') format('woff'), url('../fonts/lato/Regular/Lato-Regular.eot') format('eot');
}

@font-face {
  font-family: 'Lato-Thin;';
  src: local('Lato-Thin'), url('../fonts/lato/Thin/Lato-Thin.ttf') format('ttf'), url('../fonts/lato/Thin/Lato-Thin.woff2') format('woff2'), url('../fonts/lato/Thin/Lato-Thin.woff') format('woff'), url('../fonts/lato/Thin/Lato-Thin.eot') format('eot');
}

@font-face {
  font-family: 'Lato-Italic;';
  src: local('Lato-Italic'), url('../fonts/lato/Italic/Lato-Italic.ttf') format('ttf'), url('../fonts/lato/Italic/Lato-Italic.woff2') format('woff2'), url('../fonts/lato/Italic/Lato-Italic.woff') format('woff'), url('../fonts/lato/Italic/Lato-Italic.eot') format('eot');
}

$background: white;
$color-main: #f16d7f;
@mixin font-main($font-size,$font-family) {
  font-size: $font-size;
  font-family: $font-family;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.container {
  width: 1142px;
  margin: 0 auto;
}

.rectangle {
  height: 148px;
  background-color: #f8f3f4;
  margin-top: 6px;
  min-width: 1142px;
}

.rectangle-inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rectangle-inner-text {
  @include font-main(16px, ('Lato-Black', sans-serif));
  color: #f16d7f;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
}

.rectangle-inner-nav ul {
  list-style: none;
  display: inline-flex;
  @include font-main(14px,
                  ('Lato-Bold',
                  sans-serif));
  color: #7d7c7c;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 20px;

}

.rectangle-inner-nav ul span {
  color: #f16d7f;
  font-weight: 700;
}

.rectangle-inner-nav ul a:hover {
  border-bottom: 3px solid #f16d7f;
}

/*-----------------------------------------*/

.product-category-inner-right {
  padding: 0 0 0 50px;

}

.product-category {
  margin-top: 60px;
}

.product-category-inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-category-inner-left summary {
  border-left: 5px solid #ef5b70;
  @include font-main(14px,
                  ('Lato-Bold',
                  sans-serif));
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 19px;
  line-height: 34px;
  border-bottom: 1px solid red;
  padding-left: 13px;
}

.active-down,
.active-up {
  margin-left: 129px;
}

.active-down:active {
  content: "\203A";
  margin-left: 139px;
  color: #ef5b70;
}

summary > span {
  background-color: #fff;
  margin-left: -1.1em;
}

.product-category-inner-left ul {
  list-style: none;
  padding-left: 17px;
}

.product-category-inner-left ul li {
  padding-bottom: 15px;
}

.product-category-inner-left ul li a {
  color: #6f6e6e;
}

.product-category-inner-left ul li a:hover {
  color: #6f6e6e;
  border-bottom: 3px solid #f16d7f;
}

.product-category-inner-left ul li:last-child {
  padding-bottom: 39px;
}

.top-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #6f6e6e;
  @include font-main(14px, ('Lato-Bold', sans-serif));
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.top-filter-trend {
  margin: 6px 0 0 28px;
}

.top-filter-trend h3{
  @include font-main(14px, ('Lato-Bold', sans-serif));
  font-weight: 700;
  padding-bottom: 12px;
}

.top-filter-trend a{
  color: #6f6e6e;
  @include font-main(14px, ("Lato-Regular", sans-serif));
  font-weight: 400;
  line-height: 26px;
  text-transform:none;
  padding-right: 14px;
  border-right: 1px solid #dfdfdf;
}
.top-filter-trend:last-child{
  padding-left: 100px;
}
.top-filter-trend a:hover{
  color:$color-main;
  font-weight: 700;
}
/*------------------------------*/
.top-filter-size h3{
  @include font-main(14px, ('Lato-Bold', sans-serif));
  font-weight: 700;
  padding-bottom: 12px;
}
.top-filter-size a{
  color: #6f6e6e;
  @include font-main(14px, ("Lato-Regular", sans-serif));
  font-weight: 400;
  line-height: 26px;
  text-transform:none;
  padding-right: 14px;
  border-right: 1px solid #dfdfdf;
}
.top-filter-size {
  margin: 6px -30px 0 0;
}
.top-filter-size-flex{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.top-filter-size-flex-column{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.top-filter-size-flex-column label{
  padding: 0 10px 0 0;
  margin-bottom: 13px;
}

.box:active{
  font-weight:700;
  background: $color-main;
}
.top-filter-size-flex-column label span{
padding-right: 10px;
}
/*--------------------------*/
.top-filter-price h3{
  @include font-main(14px, ('Lato-Bold', sans-serif));
  font-weight: 700;
  padding-bottom: 12px;
}
.top-filter-price {
  margin: 6px 135px 0 0;
}
.span #out_min{
  float: left;
}
.out_max{
  float: right;
}
/*------------------------------------------*/
.sort{
  height: 50px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  margin-top: 17px;
  margin-left: 28px;
}
.sort__name{
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.sort__name-1{
  height: 100%;
  border-right: 1px solid #ebebeb;
  @include font-main(14px, ('Lato-Regular', sans-serif));
  font-weight: 400;
  line-height: 26px;
  padding-left: 11px;
  padding-top: 1px;
  padding-right: 8px;
}
.sort__name-2{
  height: 100%;
  border:0;
  @include font-main(14px, ('Lato-Regular', sans-serif));
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 18px;
}

.sort__show{
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.sort__show-1{
  height: 100%;
  border-right: 1px solid #ebebeb;
  @include font-main(14px, ('Lato-Regular', sans-serif));
  font-weight: 400;
  line-height: 26px;
  padding-left: 11px;
  padding-top: 1px;
  padding-right: 8px;
}
.sort__show-2{
  height: 100%;
  border:0;
  @include font-main(14px, ('Lato-Regular', sans-serif));
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 13px;
}
/*-------------------------------------------*/
.magazin-list-product{
  margin: 5.5% 0 0 25px;
}
.magazin-list-flex-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.magazin-product-item_2{
  margin-top: 5%;
}